.dds ul {
  list-style-type: none;
  padding: 10px 0;
  max-width: 290px;
}

.dds li {
  margin: 10px 0;
  padding: 5px 2px;
  line-height: 1.5em;
  border: 1px solid #ddd;
}

[aria-grabbed="true"] {
  background-color: #d8d8d8;
}

.dds .over {
  background-color: #ffeee8;
}

.dds [draggable="true"] {
  cursor: move;
}

.reord-icon {
  position: relative;
  top: 4px;
  margin: 0 10px 0 5px;
}
